[submodule "ImageLoader"]
	path = ImageLoader
	url = https://github.com/VasiliZ/MyImageLoader.git
[submodule "ExpandableTextView"]
	path = ExpandableTextView
	url = https://github.com/VasiliZ/ExpandableTextView.git
